@import "start.css";
@import "quiz.css";

:root {
  --text: #222222;
  --primary: #27585D;
  --secondary: white;
}

body {
  margin: 0;
  /* background-color: #0B2434; */
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

hr {
  width: 3vw;
  border: 5px dotted;
  border-color : rgb(176, 176, 176);
  border-style: none none dotted;
  position: relative;
  bottom: -10px;
}
