@import "start.css";
@import "quiz.css";

:root {
  --text: #222222;
  --primary: #27585D;
  --secondary: white;
}

body {
  margin: 0;
  /* background-color: #0B2434; */
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
}
