/* @import "main.css"; */

:root {
  --text: #222222;
  --primary: #27585D;
  --secondary: white;
}

body {
  margin: 0;
  /* background-color: #0B2434; */
  padding: 24px;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
}
