.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px
}

.quiz-btn {
  padding: 12px;
  background-color: #f222ff;
  border: none;
  color: white;
  margin: 24px auto;
}

.quiz-qst {
  margin: 0 auto;
  /* color: #ffd319; */
}

.quiz-answer-container {
  display: flex;
  gap: 20px;
}

.quiz-answer {
  padding: 12px;
  background-color: rgba(140,30,255, 0.2);
  color: #8c1eff;
}

.quiz-answer:hover {
  /* padding: 6px; */
  background-color: rgba(140,30,255, 0.6);
  color: white;
  transition: 0.1s;
}
